/* Write your CSS here! */
body{
    display: block;
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 8px;
    padding: 0;
}
#mainHeader {
    color: red;
}
.funParagraph {
    color: red;
}